{
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "proseWrap": "preserve",
    "printWidth": 110,
    "endOfLine": "crlf",
    "bracketSpacing": true
}
