<div class="bg-deposit">
    <img class="patrick-logo" src="assets/img/patrick-logo.png" alt="logo" routerLink="/dashboard" />
    <div class="header">
        <button type="button" (click)="logOut()">Cerrar Sesión</button>
    </div>
    <div class="gradient-line"></div>

    <section class="centrado flex-row">
        <form #form="ngForm" class="deposit-container bg-gradient-green" (submit)="openDialog($event)">
            <div class="title-container">
                <button type="button" class="text">Retirar</button>
            </div>
            <div class="money-container">
                <h2>Monedas adquiridas</h2>

                <div class="money">
                    <div class="ars">{{ wallet.ars + ' ARS' }}</div>
                    <div class="usd">{{ wallet.usd + ' USD' }}</div>
                </div>
            </div>

            <article class="centrado flex-column">
                <p>Ingresa la cantidad que deseas retirar</p>
                <div class="operation-container centrado flex-row">
                    <label for="withdraw">Total:</label>
                    <input
                        name="amount"
                        id="amount"
                        type="number"
                        min="0.01"
                        [max]="withdrawMoney.type === 'ARS' ? wallet.ars : wallet.usd"
                        maxlength="20"
                        required
                        [(ngModel)]="withdrawMoney.amount"
                        #amount="ngModel"
                    />
                    <select name="type" id="type" required [(ngModel)]="withdrawMoney.type" #type="ngModel">
                        <option value="ARS">ARS</option>
                        <option value="USD">USD</option>
                    </select>
                </div>

                <h2>Métodos de retiro</h2>

                @if (withdrawMoney.type!=='') {

                <div class="radio-container">
                    <div class="img-container">
                        <img src="/assets/img/icon-bank.png" alt="Transferencia" required />
                    </div>
                    <label for="transferencia">
                        <input type="radio" id="transferencia" name="payment-method" value="transferencia" />
                        <span>Transferencia bancaria</span>
                    </label>
                </div>

                <div class="radio-container">
                    <div class="img-container">
                        <img src="/assets/img/icon-creditcard.png" alt="Tarjeta" />
                    </div>
                    <label for="tarjeta">
                        <input disabled type="radio" id="tarjeta" name="payment-method" value="tarjeta" />
                        <span>Tarjeta de crédito o débito</span>
                    </label>
                </div>

                } @if (withdrawMoney.type==='ARS') {
                <div class="radio-container">
                    <div class="img-container">
                        <img src="/assets/img/icon-mercadopago.png" alt="MercadoPago" />
                    </div>
                    <label for="mercado-pago">
                        <input disabled type="radio" id="mercado-pago" name="payment-method" value="mercadoPago" />
                        <span>MercadoPago</span>
                    </label>
                </div>

                } @if (withdrawMoney.type==='USD') {
                <div class="radio-container">
                    <div class="img-container">
                        <img src="/assets/img/icon-paypal.png" alt="Paypal" />
                    </div>
                    <label for="paypal">
                        <input disabled type="radio" id="paypal" name="payment-method" value="paypal" />
                        <span>Paypal</span></label
                    >
                </div>
                }

                <button type="submit" class="accept-button" [disabled]="!form.form.valid">Aceptar</button>
            </article>
        </form>

        <aside class="centrado flex-column">
            <img src="/assets/img/seniorcito2.png" class="seniorcito" width="240px" alt="" />
            <div class="gb-white-transparent br-1">
                <h3>¡Retira tus fondos de forma conveniente y segura!</h3>
                <h3>
                    Si deseas retirar en dólares, podrás hacerlo mediante transferencia a una cuenta bancaria en dólares
                    o a través de PayPal. Si prefieres retirar en tu moneda local, tienes la opción de hacerlo
                    utilizando billeteras virtuales o mediante transferencia bancaria local.
                </h3>
                <h3>¡Tu elección, tu comodidad, tu control financiero!</h3>
            </div>
        </aside>
    </section>
    <app-footer></app-footer>
</div>
