<div class="area">
    <ul class="clovers">
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
        <li><img src="assets/img/clover.png" /></li>
    </ul>
</div>

<router-outlet />
