* {
    margin: 0px;
    padding: 0px;
}

.clovers {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -50;
}

.clovers li {
    position: absolute;
    display: block;
    list-style: none;
    & img {
        width: 40px;
    }

    animation: animate 25s linear infinite;
    bottom: -150px;
}

.clovers li:nth-child(1) {
    left: 25%;
    & img {
        width: 80px;
    }
    animation-delay: 0s;
}

.clovers li:nth-child(2) {
    left: 10%;
    & img {
        width: 20px;
    }
    animation-delay: 2s;
    animation-duration: 12s;
}

.clovers li:nth-child(3) {
    left: 70%;
    & img {
        width: 20px;
    }
    animation-delay: 4s;
}

.clovers li:nth-child(4) {
    left: 40%;
    & img {
        width: 60px;
    }
    animation-delay: 0s;
    animation-duration: 18s;
}

.clovers li:nth-child(5) {
    left: 65%;
    & img {
        width: 20px;
    }
    animation-delay: 0s;
}

.clovers li:nth-child(6) {
    left: 75%;
    & img {
        width: 75px;
    }
    animation-delay: 3s;
}

.clovers li:nth-child(7) {
    left: 35%;
    & img {
        width: 90px;
    }
    animation-delay: 7s;
}

.clovers li:nth-child(8) {
    left: 50%;
    & img {
        width: 25px;
    }
    animation-delay: 15s;
    animation-duration: 45s;
}

.clovers li:nth-child(9) {
    left: 20%;
    & img {
        width: 15px;
    }
    animation-delay: 2s;
    animation-duration: 35s;
}

.clovers li:nth-child(10) {
    left: 85%;
    & img {
        width: 80px;
    }
    animation-delay: 0s;
    animation-duration: 11s;
}

.clovers li:nth-child(11) {
    left: 15%;
    & img {
        width: 70px;
    }
    animation-delay: 0s;
}

.clovers li:nth-child(12) {
    left: 45%;
    & img {
        width: 15px;
    }
    animation-delay: 2s;
    animation-duration: 12s;
}

.clovers li:nth-child(13) {
    left: 80%;
    & img {
        width: 25px;
    }
    animation-delay: 4s;
}

.clovers li:nth-child(14) {
    left: 30%;
    & img {
        width: 20px;
    }
    animation-delay: 0s;
    animation-duration: 18s;
}

.clovers li:nth-child(15) {
    left: 90%;
    & img {
        width: 40px;
    }
    animation-delay: 0s;
}

.clovers li:nth-child(16) {
    left: 20%;
    & img {
        width: 45px;
    }
    animation-delay: 3s;
}

.clovers li:nth-child(17) {
    left: 55%;
    & img {
        width: 20px;
    }
    animation-delay: 7s;
}

.clovers li:nth-child(18) {
    left: 5%;
    & img {
        width: 75px;
    }
    animation-delay: 15s;
    animation-duration: 45s;
}

.clovers li:nth-child(19) {
    left: 60%;
    & img {
        width: 20px;
    }
    animation-delay: 2s;
    animation-duration: 35s;
}

.clovers li:nth-child(20) {
    left: 95%;
    & img {
        width: 25px;
    }
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
    }
}
