<div class="bg-deposit">
    <img class="patrick-logo" src="assets/img/patrick-logo.png" alt="logo" routerLink="/dashboard" />
    <div class="header">
        <button type="button" (click)="logOut()">Cerrar Sesión</button>
    </div>
    <div class="gradient-line"></div>

    <section class="centrado flex-column" (submit)="openDialog($event)">
        <form #form="ngForm" class="deposit-container bg-gradient-green">
            <div class="title-container">
                <button type="button" class="text">Depositar</button>
            </div>
            <article class="centrado flex-column">
                <p>Ingresa la cantidad que deseas depositar</p>
                <div class="operation-container centrado flex-row">
                    <label for="deposit">Total:</label>
                    <input
                        name="amount"
                        id="amount"
                        type="number"
                        min="0.01"
                        maxlength="20"
                        required
                        [(ngModel)]="depositMoney.amount"
                        #amount="ngModel"
                    />
                    <select name="type" id="type" required [(ngModel)]="depositMoney.type" #type="ngModel">
                        <option value="ARS">ARS</option>
                        <option value="USD">USD</option>
                    </select>
                </div>

                <h2>Métodos de pago</h2>

                @if (depositMoney.type !== '') {
                <div class="radio-container">
                    <img src="/assets/img/icon-creditcard.png" alt="Tarjeta" required />
                    <label for="tarjeta">
                        <input type="radio" id="tarjeta" name="payment-method" value="tarjeta" />
                        <span>Tarjeta de crédito o débito</span>
                    </label>
                </div>

                <div class="radio-container">
                    <img src="/assets/img/icon-bank.png" alt="Transferencia" />
                    <label for="transferencia">
                        <input disabled type="radio" id="transferencia" name="payment-method" value="transferencia" />
                        <span>Transferencia bancaria</span>
                    </label>
                </div>

                } @if (depositMoney.type === 'ARS') {
                <div class="radio-container">
                    <img src="/assets/img/icon-mercadopago.png" alt="MercadoPago" />
                    <label for="mercado-pago">
                        <input disabled type="radio" id="mercado-pago" name="payment-method" value="mercadoPago" />
                        <span>MercadoPago</span>
                    </label>
                </div>

                } @if (depositMoney.type === 'USD') {
                <div class="radio-container">
                    <img src="/assets/img/icon-paypal.png" alt="Paypal" />
                    <label for="paypal">
                        <input disabled type="radio" id="paypal" name="payment-method" value="paypal" />
                        <span>Paypal</span></label
                    >
                </div>
                }

                <button type="submit" class="accept-button" [disabled]="!form.form.valid">Aceptar</button>
            </article>
        </form>

        <footer>
            <img src="/assets/img/seniorcito.png" class="seniorcito" width="300px" alt="" />
            <div class="gb-white-transparent br-1">
                <h3>¡Deposita fondos de manera rápida y segura para aprovechar las oportunidades del mercado!</h3>
                <div class="d-flex space-around">
                    <img src="/assets/img/icon-shield.png" alt="" width="40px" height="40px" />
                    <img src="/assets/img/icon-card.png" alt="" width="40px" height="40px" />
                    <img src="/assets/img/icon-cashcoin.png" alt="" width="40px" height="40px" />
                </div>
            </div>
        </footer>
    </section>
    <app-footer></app-footer>
</div>
