.patrick-logo {
    position: absolute;
    top: 16px;
    left: 32px;
    transition: filter 0.2s;

    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }

    &:active {
        opacity: 0.8;
    }
}

.header {
    display: flex;
    width: 100%;
    height: 96px;
    background-color: var(--black);
    justify-content: end;
    align-items: center;

    & button {
        margin: 0 32px;
    }
}

.gradient-line {
    display: flex;
    width: 100%;
    height: 8px;
    margin-top: 4px;
    background: linear-gradient(to right, var(--green-1), var(--green-5));
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.space-around {
    justify-content: space-around;
}
.d-flex {
    display: flex;
}

.bg-gradient-green {
    background: rgb(40, 118, 53);
    background: linear-gradient(0deg, rgba(40, 118, 53, 1) 0%, rgba(23, 77, 32, 1) 100%);
}
.seniorcito {
    position: absolute;
}
.gb-white-transparent {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1rem;
    padding-left: 10rem;
    text-align: center;
    margin-left: 10rem;
    margin-right: 3rem;
    margin-top: 70px;
    margin-bottom: 70px;
}
.br-1 {
    border-radius: 1rem;
}
.deposit-container {
    width: 70%;
    min-width: 300px;
    max-width: 512px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 16px;
    box-shadow: var(--shadow);
    border: 2px var(--black) solid;
    display: flex;
    flex-direction: column;

    & article {
        padding: 24px;

        & p {
            font-size: 18px;
        }
    }
    & .title-container {
        display: flex;
        justify-content: center;
    }

    & .text {
        background-image: url('/assets/img/golden-background-h.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 5rem;
        width: 60%;
        border: none;
        color: var(--black);
        box-shadow: var(--shadow);
        display: flex;
        justify-content: center;
        font-size: 32px;

        &:hover {
            cursor: unset;
            filter: unset;
        }
    }

    & .operation-container {
        width: 100%;
        display: flex;
        margin-bottom: 32px;
        background-color: var(--white);
        border-radius: 1rem;
        color: --var(black);
        padding: 0 24px;
        & #amount {
            margin-left: 8px;
        }
    }

    & .accept-button {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        width: 250px;
    }
}

h2 {
    text-align: center;
    font-family: Germania One, sans-serif;
    font-size: 22pt;
    color: var(--yellow);
    margin: 16px 0;
}

input[type='radio'] {
    width: 24px;
    height: 24px;
    margin: 0 16px;
    box-shadow: none;
    &:hover {
        cursor: pointer;
    }
}

.radio-container {
    display: flex;
    background-color: var(--white);
    margin: 8px 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-radius: 1rem;

    & label {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        font-size: 16px;
        &:hover {
            cursor: pointer;
        }
    }
    & img {
        width: 48px;
        margin-left: 16px;
    }
    & span {
        font-size: 16px;
    }
}

.bg-deposit {
    background-image: url('/assets/img/bg-deposit.png');
    background-size: cover;
    background-repeat: no-repeat;
}

input[type='checkbox'] {
    position: relative;
    cursor: pointer;

    box-shadow: none;

    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: --var(white);
}

select,
option {
    width: 10rem;
    margin-left: 10px;
    font-family: Germania One, sans-serif;
    font-weight: 400;
}
