.account-container {
    margin: 0;
    padding: 0;
    border-radius: 16px;
    background-color: var(--black);
    box-shadow: var(--shadow);
    border: 2px var(--black) solid;
    display: flex;
    align-items: center;
    overflow-x: auto;

    & .profile-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 24px;

        & .user-name,
        & .user-email {
            border-radius: 1rem;
            border: 2px solid var(--black);
            background-color: var(--green-5);
            color: var(--white);
            padding: 4px 12px;
            text-align: center;
            max-width: 10rem;
            overflow-x: hidden;
            margin: 16px 0;
        }

        .user-email {
            font-size: smaller;
        }

        & .profile-picture {
            border-radius: 64px;
            height: 128px;
            width: 128px;
        }
    }

    & .money-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 24px;

        & h2 {
            text-align: center;
            font-family: Germania One, sans-serif;
            font-weight: 400;
            font-size: 24pt;
            color: var(--white);
            margin: 16px 0;
            white-space: nowrap;
        }

        & .money {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 32px;

            & .ars,
            & .usd {
                font-family: Germania One, sans-serif;
                font-weight: 400;
                font-size: 18pt;
                border-radius: 1rem;
                border: 2px var(--black) solid;
                background-image: linear-gradient(to bottom, var(--green-1), var(--green-4));
                color: var(--black);
                padding: 4px 12px;
                text-align: center;
                max-width: 10rem;
                overflow-x: hidden;
                margin: 8px;
                white-space: nowrap;
            }
        }

        & button {
            margin-bottom: 16px;
        }
    }

    & .crypto-container {
        max-height: 17rem;
        overflow-y: auto;
        width: 100%;
        min-width: 20rem;
        color: var(--black);
        margin-right: 24px;
    }

    & .crypto-table {
        width: 100%;

        & th {
            font-family: Germania One, sans-serif;
            font-weight: 400;
            font-size: 20pt;
            color: var(--black);
            padding: 4px;
            background-color: var(--lightgrey);
            border: 1px solid var(--black);
        }

        & td {
            background-color: var(--lightgrey);
            color: var(--black);
            vertical-align: middle;
            padding: 0 4px;
            border: 1px solid var(--black);

            & .crypto-name {
                display: flex;
                height: 48px;
                align-items: center;

                & p {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                & img {
                    height: 32px;
                    width: 32px;
                }
            }

            & img {
                margin: 0 8px;
            }
        }
    }
}

.data-container {
    display: flex;
}

.empty-table {
    width: 100%;
    text-align: center;
    height: 80px;

    & span {
        margin: 24px 0;
        font-family: Germania One, sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: var(--green-5);
    }
}

@media (max-width: 1200px) {
    .account-container {
        flex-direction: column;

        & .crypto-container {
            margin-right: 0px;
            margin-left: 0px;
        }
    }
}

@media (max-width: 576px) {
    .account-container {
        padding-right: 0;

        & .profile-container {
            margin: 12px;

            & .profile-picture {
                height: 96px;
                width: 96px;
            }
        }

        & .money-container {
            margin: 12px;

            & h2 {
                font-size: 18pt;
                margin: 8px 0;
            }

            & .money {
                margin-bottom: 16px;

                & .ars,
                & .usd {
                    font-size: 12pt;
                    border: 1.5px var(--black) solid;
                    max-width: 8rem;
                    margin: 4px;
                }
            }

            & button {
                margin-bottom: 16px;
            }
        }

        & .crypto-container {
            & .crypto-table {
                & th {
                    font-size: 16pt;
                }
                & td {
                    font-size: 14pt;

                    & .crypto-name {
                        height: 40px;
                    }

                    & img {
                        margin: 0 4px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .account-container .crypto-container {
        & .crypto-table {
            & th {
                font-size: 18pt;
            }
            & td {
                font-size: 12pt;

                & .crypto-name {
                    height: 44px;
                }

                & img {
                    margin: 0 6px;
                }
            }
        }
    }
}
