<img class="patrick-logo" src="assets/img/patrick-logo.png" alt="logo" />

<div class="header">
    <button type="button" (click)="access()">Acceder</button>
</div>
<div class="gradient-line"></div>

<h2>Te damos la bienvenida a</h2>

<div class="container-1">
    <img class="img-1" src="assets/img/home-1.jpg" alt="home-1" />
    <img class="patrick-coins-logo" src="assets/img/logo.png" alt="logo" />
    <div class="text-1">
        <p>
            Somos una plataforma dedicada a brindarte las herramientas y el apoyo necesario para que puedas
            adentrarte en el emocionante mundo de las inversiones en criptomonedas.
        </p>
    </div>
</div>

<div class="container-2">
    <img class="img-2" src="assets/img/home-2.jpg" alt="home-1" />
    <div class="title-2">
        <h2>Transparencia y Fiabilidad</h2>
    </div>
    <div class="text-2">
        <p>
            Conoce nuestra política de transparencia y cómo mantenemos a nuestros usuarios informados en todo
            momento sobre los cambios en el mercado y en nuestra plataforma.
        </p>
    </div>
</div>

<div class="start-button-container">
    <button type="button" (click)="start()">Comienza a invertir ahora</button>
</div>

<app-footer></app-footer>
