.patrick-logo {
    position: absolute;
    top: 16px;
    left: 32px;
    transition: filter 0.2s;

    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }
    &:active {
        opacity: 0.8;
    }
}

.header {
    display: flex;
    width: 100%;
    height: 96px;
    background-color: var(--black);
    justify-content: space-between;
    align-items: center;

    & button {
        margin: 0 32px;
    }

    & div {
        margin: 0 32px;
        width: 193.78px;
    }
}

h1 {
    font-family: Germania One, sans-serif;
    font-weight: 400;
    color: var(--green-3);
    text-align: center;
    font-size: 30pt;

    & span {
        font-family: Germania One, sans-serif;
        font-weight: 400;
        color: var(--yellow);
    }
}

.gradient-line {
    display: flex;
    width: 100%;
    height: 8px;
    margin-top: 4px;
    background: linear-gradient(to right, var(--green-1), var(--green-5));
}

.account-container {
    margin-top: 24px;
    border-radius: 16px;
    background-color: var(--black);
    box-shadow: var(--shadow);
    border: 2px var(--black) solid;
    display: flex;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    overflow-x: auto;

    & .profile-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 24px;

        & .user-name,
        .user-email {
            border-radius: 1rem;
            background-color: var(--green-5);
            color: var(--white);
            padding: 4px 12px;
            text-align: center;
            max-width: 10rem;
            overflow-x: hidden;
            margin: 16px 0;
        }

        .user-email {
            font-size: smaller;
        }

        & .profile-picture {
            border-radius: 64px;
            height: 128px;
            width: 128px;
        }
    }

    & .money-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 24px;

        & h2 {
            text-align: center;
            font-family: Germania One, sans-serif;
            font-weight: 400;
            font-size: 24pt;
            color: var(--black);
            margin: 16px 0;
            white-space: nowrap;
        }

        .money {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 32px;

            & .ars,
            & .usd {
                font-family: Germania One, sans-serif;
                font-weight: 400;
                font-size: 18pt;
                border-radius: 1rem;
                border: 2px var(--black) solid;
                background-image: linear-gradient(to bottom, var(--green-1), var(--green-4));
                color: var(--black);
                padding: 4px 12px;
                text-align: center;
                max-width: 10rem;
                overflow-x: hidden;
                margin: 8px;
                white-space: nowrap;
            }
        }

        & button {
            margin-bottom: 16px;
        }
    }

    & .crypto-container {
        max-height: 17rem;
        overflow-y: auto;
        width: 100%;
        min-width: 20rem;
        color: var(--black);
        margin: 24px;
    }

    & .crypto-table {
        width: 100%;

        & th {
            font-family: Germania One, sans-serif;
            font-weight: 400;
            font-size: 20pt;
            color: var(--black);
            padding: 4px;
            background-color: var(--lightgrey);
        }

        & td {
            background-color: var(--lightgrey);
            color: var(--black);
            vertical-align: middle;
            padding: 0 4px;

            & .crypto-name {
                display: flex;
                height: 48px;
                align-items: center;

                & img {
                    height: 32px;
                    width: 32px;
                }
            }

            & img {
                margin: 0 8px;
            }
        }
    }
}

.bottom-container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
}

.all-crypto-container {
    width: 100%;
    height: 37.5rem;
    min-width: 20rem;
    background-color: var(--black);
    margin-top: 32px;
    color: var(--white);
    border-radius: 16px;
    box-shadow: var(--shadow);
    border: 2px var(--black) solid;
    display: flex;
    flex-direction: column;
    overflow-x: auto;

    & .all-crypto-title {
        color: var(--white);
        display: flex;
        align-items: center;
        margin: 0 24px;
        justify-content: space-between;

        & h2 {
            font-family: Germania One, sans-serif;
            font-weight: 400;
            font-size: 24pt;
            white-space: nowrap;
        }

        & svg {
            margin-left: 16px;
            height: 32px;
            width: 32px;
            color: var(--green-2);

            &:hover {
                cursor: pointer;
                filter: brightness(1.2);
            }
            &:active {
                opacity: 0.8;
            }
        }
    }

    & .table-container {
        margin: 0 24px 24px 24px;
        overflow-y: auto;
    }

    & .all-crypto-table {
        width: 100%;

        & th {
            font-family: Germania One, sans-serif;
            font-weight: 400;
            font-size: 20pt;
            color: var(--white);
            border: 1px solid var(--white);
            padding: 4px;
        }

        & td {
            background-color: var(--black);
            color: var(--white);
            vertical-align: middle;
            border: 1px solid var(--white);
            padding: 0 4px;

            & .crypto-name {
                height: 48px;
                display: flex;
                align-items: center;

                & img {
                    height: 32px;
                    width: 32px;
                }
            }

            & img {
                margin: 0 8px;
            }
        }
    }
}

.buy-sell-form {
    width: 100%;
    height: 34.5rem;
    background-color: var(--green-5);
    margin-top: 32px;
    margin-left: 32px;
    border-radius: 16px;
    box-shadow: var(--shadow);
    border: 2px var(--black) solid;
    display: flex;
    flex-direction: column;
    padding: 24px;

    & label {
        color: var(--white);
        margin: 8px 0;
    }

    & input {
        width: 100%;
    }
    & .logo-container {
        width: 100%;
        display: flex;
        justify-content: center;
        & img {
            width: 201px;
            height: 72;
            filter: drop-shadow(0 0 2px rgba(255, 255, 255, 1));
        }
    }
    & .arrow-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 12px;
        & svg {
            height: 40px;
            width: 40px;
            color: var(--green-2);
            color: var(--yellow);
        }
    }

    & .button-container {
        display: flex;
        justify-content: center;
        margin: 24px 0;
    }

    & .button-buy,
    & .button-sell {
        background-image: url('/assets/img/golden-background.jpg');
        background-size: cover;
        height: 4rem;
        width: 12rem;
        border: none;
        box-shadow: var(--shadow);
        display: flex;
        justify-content: center;

        &:disabled {
            color: var(--black);
            opacity: 1;
        }

        &:hover {
            filter: unset;
        }

        &:not([disabled]) {
            filter: grayscale(100%);
            color: var(--grey);

            &:hover {
                filter: brightness(1.2);
            }
        }
    }

    & .button-buy {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    & .button-sell {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-position: right;
    }

    & .operation-container {
        display: flex;
        justify-content: space-between;
        background-color: var(--green-2);
        background-image: url('/assets/img/golden-background-h.jpg');
        border-radius: 1rem;
        box-shadow: var(--shadow);

        & input,
        & select {
            margin: 8px 10px 8px 0;
            background-color: var(--white);
            color: var(--black);
            border-radius: 1rem;
            font-size: larger;

            &:focus {
                outline: none;
                background-color: #eff29e;
                filter: drop-shadow(0 0 6px #eff29e);
            }
        }

        & select,
        & option {
            width: 10rem;
            margin-left: 10px;
            font-family: Germania One, sans-serif;
            font-weight: 400;
        }
    }

    & .div-crypto {
        background-position: right;
    }

    & .accept-button-container {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }

    & .form-error {
        color: var(--yellow);
    }
}
