<img class="patrick-logo" src="assets/img/patrick-logo.png" alt="logo" routerLink="/" />
<div class="header">
    <button type="button" (click)="logOut()">Cerrar Sesión</button>
</div>
<div class="gradient-line"></div>

<div class="content">
    <div class="account-container">
        <div class="profile-container">
            <div class="user-name">{{ user.name + ' ' + user.lastName }}</div>
            <img class="profile-picture" src="assets/img/user-icon.png" alt="profile-picture" />
            <div class="user-email">{{ user.email }}</div>
        </div>

        <div class="money-container">
            <h2>Monedas adquiridas</h2>

            <div class="money">
                <div class="ars">{{ user.ars + ' ARS' }}</div>
                <div class="usd">{{ user.usd + ' USD' }}</div>
            </div>

            <button type="button">Depositar</button>
            <button type="button">Retirar</button>
        </div>

        <div class="crypto-container">
            <table class="crypto-table">
                <thead>
                    <tr>
                        <th>Criptomoneda</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of user.crypto; track $index) { @if (item.quantity > 0) {
                    <tr class="crypto-element">
                        <td>
                            <div class="crypto-name">
                                <img
                                    src="{{
                                        'assets/img/crypto-icons/' +
                                            item.coin.shortName.toLowerCase() +
                                            '.png'
                                    }}"
                                />
                                <p>{{ item.coin.shortName + ' - ' + item.coin.name }}</p>
                            </div>
                        </td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                    } }
                </tbody>
            </table>
        </div>
    </div>

    <div class="bottom-container">
        <div class="all-crypto-container">
            <table class="all-crypto-table">
                <thead>
                    <tr>
                        <th>Criptomoneda</th>
                        <th>USD</th>
                        <th>ARS</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of coinList; track $index) {
                    <tr class="crypto-element">
                        <td>
                            <div class="crypto-name">
                                <img
                                    src="{{
                                        'assets/img/crypto-icons/' + item.shortName.toLowerCase() + '.png'
                                    }}"
                                />
                                <p>{{ item.shortName + ' - ' + item.name }}</p>
                            </div>
                        </td>
                        <td>1234</td>
                        <td>5678</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>
