<img class="patrick-logo" src="assets/img/patrick-logo.png" alt="logo" routerLink="/" />
<div class="header">
    <button type="button" (click)="logOut()">Cerrar Sesión</button>
</div>
<div class="gradient-line"></div>

<div class="content">
    <div class="account-container">
        <div class="profile-container">
            <div class="user-name">{{ user.name + ' ' + user.lastName }}</div>
            <img class="profile-picture" src="assets/img/user-icon.png" alt="profile-picture" />
            <div class="user-email">{{ user.email }}</div>
        </div>

        <div class="money-container">
            <h2>Monedas adquiridas</h2>

            <div class="money">
                <div class="ars">{{ user.ars + ' ARS' }}</div>
                <div class="usd">{{ user.usd + ' USD' }}</div>
            </div>

            <button type="button">Depositar</button>
            <button type="button">Retirar</button>
        </div>

        <div class="crypto-container">
            <table class="crypto-table">
                <thead>
                    <tr>
                        <th>Criptomoneda</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of user.crypto; track $index) { @if (item.quantity > 0) {
                    <tr class="crypto-element">
                        <td>
                            <div class="crypto-name">
                                <img
                                    src="{{
                                        'assets/img/crypto-icons/' +
                                            item.coin.shortName.toLowerCase() +
                                            '.png'
                                    }}"
                                />
                                <p>{{ item.coin.shortName + ' - ' + item.coin.name }}</p>
                            </div>
                        </td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                    } }
                </tbody>
            </table>
        </div>
    </div>

    <div class="bottom-container">
        <div class="all-crypto-container">
            <div class="all-crypto-title">
                <h2>Todas las criptomonedas</h2>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path
                        fill-rule="evenodd"
                        d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z"
                        clip-rule="evenodd"
                    />
                </svg>
            </div>

            <div class="table-container">
                <table class="all-crypto-table">
                    <thead>
                        <tr>
                            <th>Criptomoneda</th>
                            <th>USD</th>
                            <th>ARS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of coinList; track $index) {
                        <tr>
                            <td>
                                <div class="crypto-name">
                                    <img
                                        src="{{
                                            'assets/img/crypto-icons/' + item.shortName.toLowerCase() + '.png'
                                        }}"
                                    />
                                    <p>{{ item.shortName + ' - ' + item.name }}</p>
                                </div>
                            </td>
                            <td>1234</td>
                            <td>5678</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
