.patrick-logo {
    position: absolute;
    top: 16px;
    left: 32px;
    transition: filter 0.2s;

    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }
    &:active {
        opacity: 0.8;
    }
}

.header {
    display: flex;
    width: 100%;
    height: 96px;
    background-color: var(--black);
    justify-content: end;
    align-items: center;

    & button {
        margin: 0 32px;
    }
}

.gradient-line {
    display: flex;
    width: 100%;
    height: 8px;
    margin-top: 4px;
    background: linear-gradient(to right, var(--green-1), var(--green-5));
}

.account-container {
    margin-top: 24px;
    border-radius: 16px;
    background-color: var(--green-2);
    box-shadow: var(--shadow);
    border: 2px var(--black) solid;
    display: flex;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    overflow-x: auto;

    & .profile-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 24px;

        & .user-name,
        .user-email {
            border-radius: 1rem;
            background-color: var(--green-5);
            color: var(--white);
            padding: 4px 12px;
            text-align: center;
            max-width: 10rem;
            overflow-x: hidden;
            margin: 16px 0;
        }

        .user-email {
            font-size: smaller;
        }

        & .profile-picture {
            border-radius: 64px;
            height: 128px;
            width: 128px;
        }
    }

    & .money-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 24px;

        & h2 {
            text-align: center;
            font-family: Germania One, sans-serif;
            font-size: 24pt;
            color: var(--black);
            margin: 16px 0;
            white-space: nowrap;
        }

        .money {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 32px;

            & .ars,
            & .usd {
                font-family: Germania One, sans-serif;
                font-size: 18pt;
                border-radius: 1rem;
                border: 2px var(--black) solid;
                background-image: linear-gradient(to bottom, var(--green-1), var(--green-4));
                color: var(--black);
                padding: 4px 12px;
                text-align: center;
                max-width: 10rem;
                overflow-x: hidden;
                margin: 8px;
                white-space: nowrap;
            }
        }

        & button {
            margin-bottom: 16px;
        }
    }

    & .crypto-container {
        max-height: 17rem;
        overflow-y: auto;
        width: 100%;
        min-width: 20rem;
        color: var(--black);
        margin: 24px;
    }

    & .crypto-table {
        width: 100%;

        & th {
            font-family: Germania One, sans-serif;
            font-size: 20pt;
            color: var(--black);
        }

        & td {
            height: 40px;
            background-color: var(--white);
            color: var(--black);
            vertical-align: middle;

            & .crypto-name {
                display: flex;
                height: 40px;
                align-items: center;

                & img {
                    height: 32px;
                    width: 32px;
                }
            }

            & img {
                margin: 0 8px;
            }
        }
    }
}

.bottom-container {
    width: 100%;
    max-width: 1280px;
}

.all-crypto-container {
    max-height: 17rem;
    overflow-y: auto;
    width: 100%;
    min-width: 20rem;
    background-color: var(--black);
    margin-top: 32px;
    color: var(--white);
    border-radius: 16px;
    box-shadow: var(--shadow);
    border: 2px var(--black) solid;
    display: flex;
    flex-direction: column;

    & .all-crypto-title {
        color: var(--white);
        display: flex;
        align-items: center;
        margin: 0 24px;
        justify-content: space-between;

        & h2 {
            font-family: Germania One, sans-serif;
            font-size: 24pt;
            white-space: nowrap;
        }

        & svg {
            height: 32px;
            width: 32px;

            &:hover {
                cursor: pointer;
                filter: brightness(1.2);
            }
            &:active {
                opacity: 0.8;
            }
        }
    }

    & .table-container {
        margin: 0 24px;
        overflow-y: auto;
    }

    & .all-crypto-table {
        width: 100%;

        & th {
            font-family: Germania One, sans-serif;
            font-size: 20pt;
            color: var(--white);
            border: 1px solid var(--white);
        }

        & td {
            height: 40px;
            background-color: var(--black);
            color: var(--white);
            vertical-align: middle;
            border: 1px solid var(--white);

            & .crypto-name {
                display: flex;
                height: 40px;
                align-items: center;

                & img {
                    height: 32px;
                    width: 32px;
                }
            }

            & img {
                margin: 0 8px;
            }
        }
    }
}
