.page-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--green-3);

    & div {
        flex-direction: column;
    }
}

.image-side {
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/btc-1.jpg');
    background-size: auto 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow-y: hidden;

    & .elements {
        display: flex;
        height: 100vh;
        margin-top: 40px;
        align-items: center;
    }

    & h3 {
        margin: 1vh;
        color: var(--yellow);
        font-size: 9vh;
        display: flex;

        -webkit-text-stroke: 2px var(--black);

        & span {
            display: block;
        }
    }
}

.triangle {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 100vh solid var(--yellow);
}

.logo-container {
    background-color: var(--white);
    border-radius: 16px;
    margin-bottom: 16px;
}

.form-side {
    padding: 16px;
    background-color: var(--green-3);
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 34rem;
    overflow-y: scroll;
}

.patrick-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: red;

    & div {
        position: relative;
        background-color: blue;
    }

    & img {
        position: absolute;
        right: calc(50% - 64px);
    }
}

.log-button {
    height: 2rem;
    border-radius: 1rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 12px 0;

    & svg {
        margin: 0 0.5rem;
    }
}

#facebook-button {
    background-color: #4063b3;
}
#google-button {
    background-color: #2a6ff2;
}
#apple-button {
    background-color: #000;
}
