<img class="logo" src="assets/img/logo.png" alt="logo" />
<div class="buy-sell-container">
    <div class="button-container">
        <button class="button-buy">Comprar</button>
        <button class="button-sell">Vender</button>
    </div>

    <p>Ingrese el total y moneda con la que desea comprar</p>
    <div class="operation-container">
        <input type="number" />
        <select name="" id=""></select>
    </div>

    <p>Ingrese la cripto que desea</p>
    <div class="operation-container">
        <input type="number" />
        <select name="" id=""></select>
    </div>

    <button>Aceptar</button>
</div>
