<form #form="ngForm" class="buy-sell-form" (submit)="openDialog($event)">
    <div class="logo-container">
        <img src="assets/img/logo.png" alt="logo" />
    </div>

    <div class="button-container">
        <button class="button-buy" [disabled]="isBuying" (click)="activeButton(true)">Comprar</button>
        <button class="button-sell" [disabled]="!isBuying" (click)="activeButton(false)">Vender</button>
    </div>

    <!-- fiat buy -->
    @if (isBuying) {
    <label for="fiat-buy">Ingresa el total y moneda con la que deseas comprar</label>
    <div class="operation-container">
        <select
            name="fiat"
            id="fiat"
            required
            [(ngModel)]="operationBuy.fiat"
            #fiat="ngModel"
            (change)="getCryptoBuyValue()"
        >
            <option value="ARS">ARS</option>
            <option value="USD">USD</option>
        </select>
        <input
            name="fiat-buy"
            id="fiat-buy"
            type="number"
            min="0.01"
            maxlength="20"
            [max]="operationBuy.fiat == 'ARS' ? user.ars : operationBuy.fiat == 'USD' ? user.usd : 0"
            required
            [(ngModel)]="operationBuy.fiatQuantity"
            #fiatQuantity="ngModel"
            (change)="getCryptoBuyValue()"
        />
    </div>

    @if ( operationBuy.fiat != '' ) { @if ( operationBuy.fiat == 'ARS' ) {
    <div class="form-information">Saldo: {{ user.ars }} ARS</div>
    } @else if ( operationBuy.fiat == 'USD' ) {
    <div class="form-information">Saldo: {{ user.usd }} USD</div>

    } @if (fiatQuantity.errors?.['max']) {
    <div class="form-error">Saldo insuficiente.</div>

    }} @if (fiat.invalid && (fiat.dirty || fiat.touched)) { @if (fiatQuantity.invalid && (fiatQuantity.dirty ||
    fiatQuantity.touched)) {
    <div class="form-error">Por favor, ingresa una moneda y una cantidad válida.</div>
    } @else {
    <div class="form-error">Por favor, selecciona una moneda.</div>
    } } @else if (fiatQuantity.invalid && (fiatQuantity.dirty || fiatQuantity.touched)) {
    <div class="form-error">Por favor, ingresa una cantidad válida.</div>
    } }

    <!-- crypto sell -->
    @if (!isBuying) {
    <label for="crypto-sell">Ingresa el total y criptomoneda que deseas vender</label>
    <div class="operation-container div-crypto">
        <select
            name="crypto"
            id="crypto"
            required
            [(ngModel)]="operationSell.crypto"
            #crypto="ngModel"
            (change)="getCryptoSellValue()"
        >
            @for (item of coinList; track $index) {
            <option value="{{ item.coin.id }}">{{ item.coin.shortName }}</option>
            }
        </select>
        <input
            name="crypto-sell"
            id="crypto-sell"
            type="number"
            min="0.000000000000000001"
            maxlength="20"
            [max]="operationSell.crypto > 0 ? user.crypto[operationSell.crypto - 1].quantity : 0"
            required
            [(ngModel)]="operationSell.cryptoQuantity"
            #cryptoQuantity="ngModel"
            (change)="getCryptoSellValue()"
        />
    </div>

    @if ( operationSell.crypto > 0 ) {
    <div class="form-information">
        Saldo: {{ user.crypto[operationSell.crypto - 1].quantity }}
        {{ user.crypto[operationSell.crypto - 1].coin.shortName }}
    </div>

    @if (cryptoQuantity.errors?.['max']) {
    <div class="form-error">Saldo insuficiente.</div>

    } }@if (crypto.invalid && (crypto.dirty || crypto.touched)) { @if (cryptoQuantity.invalid && (cryptoQuantity.dirty
    || cryptoQuantity.touched)) {
    <div class="form-error">Por favor, ingresa una criptomoneda y una cantidad válida.</div>
    } @else {
    <div class="form-error">Por favor, selecciona una criptomoneda.</div>
    } } @else if (cryptoQuantity.invalid && (cryptoQuantity.dirty || cryptoQuantity.touched)) {
    <div class="form-error">Por favor, ingresa una cantidad válida.</div>
    }}

    <!-- arrow -->
    <div class="arrow-container">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
        </svg>
    </div>

    <!-- crypto buy -->
    @if (isBuying) {
    <label for="crypto-buy">Ingresa la criptomoneda que deseas</label>
    <div class="operation-container div-crypto">
        <select
            name="crypto"
            id="crypto"
            required
            [(ngModel)]="operationBuy.crypto"
            #crypto="ngModel"
            (change)="getCryptoBuyValue()"
        >
            @for (item of coinList; track $index) {
            <option value="{{ item.coin.id }}">{{ item.coin.shortName }}</option>
            }
        </select>
        <input
            name="crypto-buy"
            id="crypto-buy"
            type="number"
            disabled
            [value]="cryptoBuyValue > 0 ? cryptoBuyValue : null"
        />
    </div>
    }

    <!-- fiat sell -->
    @if (!isBuying) {
    <label for="fiat-sell">Ingresa la moneda que deseas recibir</label>
    <div class="operation-container">
        <select
            name="fiat"
            id="fiat"
            required
            [(ngModel)]="operationSell.fiat"
            #fiat="ngModel"
            (change)="getCryptoSellValue()"
        >
            <option value="ARS">ARS</option>
            <option value="USD">USD</option>
        </select>
        <input
            name="fiat-sell"
            id="fiat-sell"
            type="number"
            disabled
            [value]="cryptoSellValue > 0 ? cryptoSellValue.toFixed(2) : null"
        />
    </div>
    }

    <div class="accept-button-container">
        <button type="submit" [disabled]="!form.form.valid || (operationBuy.crypto == 0 && operationSell.fiat == '')">
            Aceptar
        </button>
    </div>
</form>
