<footer>
    <div class="columns-container">
        <div class="left-column">
            <p><span class="patrick">Patrick </span><span class="coins">Coins</span></p>
            <p class="phrase">
                Simplificando el mundo de<br />
                las criptomonedas para vos.
            </p>
        </div>
        <div class="right-column">
            <p class="title-text">Redes Sociales</p>
            <div class="social-media">
                <img
                    class="img-2s"
                    src="assets/img/facebook.png"
                    alt="facebook"
                    (click)="redirectToFacebook()"
                />
                <img
                    class="img-2s"
                    src="assets/img/youtube.png"
                    alt="youtube"
                    (click)="redirectToYoutube()"
                />
                <img
                    class="img-2s"
                    src="assets/img/instagram.png"
                    alt="instagram"
                    (click)="redirectToInstagram()"
                />
            </div>
        </div>
    </div>
    <p class="copyright">Patrick Coins 2024 - Todos los derechos reservados</p>
</footer>
